In [8]:
#Key-value: separated by a colon

top_trades = {
    "january": "Karem",
    "february": "Harold",
    "march": "Sam"
}

print()
print(f"Dictionary: {top_trades}")

Dictionary: {'january': 'Karem', 'february': 'Harold', 'march': 'Sam'}

In [9]:
# Initialize a dictionary
trading_pnl = {
    "title": "Trading Log",
    "03-18-2019": -224,
    "03-19-2019": 352,
    "03-20-2019": 252,
    "03-21-2019": 354,
    "03-22-2019": -544,
    "03-23-2019": -650,
    "03-24-2019": 56,
    "03-25-2019": 123,
    "03-26-2019": -43,
    "03-27-2019": 254,
    "03-28-2019": 325,
    "03-29-2019": -123,
    "03-30-2019": 47,
    "03-31-2019": 321,
    "04-01-2019": 123,
    "04-02-2019": 133,
    "04-03-2019": -151,
    "04-04-2019": 613,
    "04-05-2019": 232,
    "04-06-2019": -311
}

In [10]:
print()
print(f"Dictionary: {trading_pnl}")
print()

print(f"03-31-2019: {trading_pnl['03-31-2019']}")
print()
      
trading_pnl["04-07-2019"] = 413
print(trading_pnl)
print()
      
trading_pnl["04-07-2019"] = 542
print(trading_pnl)
print()
      
del trading_pnl["04-07-2019"]
print(trading_pnl)
print()

Dictionary: {'title': 'Trading Log', '03-18-2019': -224, '03-19-2019': 352, '03-20-2019': 252, '03-21-2019': 354, '03-22-2019': -544, '03-23-2019': -650, '03-24-2019': 56, '03-25-2019': 123, '03-26-2019': -43, '03-27-2019': 254, '03-28-2019': 325, '03-29-2019': -123, '03-30-2019': 47, '03-31-2019': 321, '04-01-2019': 123, '04-02-2019': 133, '04-03-2019': -151, '04-04-2019': 613, '04-05-2019': 232, '04-06-2019': -311}

03-31-2019: 321

{'title': 'Trading Log', '03-18-2019': -224, '03-19-2019': 352, '03-20-2019': 252, '03-21-2019': 354, '03-22-2019': -544, '03-23-2019': -650, '03-24-2019': 56, '03-25-2019': 123, '03-26-2019': -43, '03-27-2019': 254, '03-28-2019': 325, '03-29-2019': -123, '03-30-2019': 47, '03-31-2019': 321, '04-01-2019': 123, '04-02-2019': 133, '04-03-2019': -151, '04-04-2019': 613, '04-05-2019': 232, '04-06-2019': -311, '04-07-2019': 413}

{'title': 'Trading Log', '03-18-2019': -224, '03-19-2019': 352, '03-20-2019': 252, '03-21-2019': 354, '03-22-2019': -544, '03-23-2019': -650, '03-24-2019': 56, '03-25-2019': 123, '03-26-2019': -43, '03-27-2019': 254, '03-28-2019': 325, '03-29-2019': -123, '03-30-2019': 47, '03-31-2019': 321, '04-01-2019': 123, '04-02-2019': 133, '04-03-2019': -151, '04-04-2019': 613, '04-05-2019': 232, '04-06-2019': -311, '04-07-2019': 542}

{'title': 'Trading Log', '03-18-2019': -224, '03-19-2019': 352, '03-20-2019': 252, '03-21-2019': 354, '03-22-2019': -544, '03-23-2019': -650, '03-24-2019': 56, '03-25-2019': 123, '03-26-2019': -43, '03-27-2019': 254, '03-28-2019': 325, '03-29-2019': -123, '03-30-2019': 47, '03-31-2019': 321, '04-01-2019': 123, '04-02-2019': 133, '04-03-2019': -151, '04-04-2019': 613, '04-05-2019': 232, '04-06-2019': -311}

In [11]:
for key in trading_pnl:
    print(f"Key: {key}")

Key: title
Key: 03-18-2019
Key: 03-19-2019
Key: 03-20-2019
Key: 03-21-2019
Key: 03-22-2019
Key: 03-23-2019
Key: 03-24-2019
Key: 03-25-2019
Key: 03-26-2019
Key: 03-27-2019
Key: 03-28-2019
Key: 03-29-2019
Key: 03-30-2019
Key: 03-31-2019
Key: 04-01-2019
Key: 04-02-2019
Key: 04-03-2019
Key: 04-04-2019
Key: 04-05-2019
Key: 04-06-2019

In [12]:
for key in trading_pnl:
    print(f"Value: {trading_pnl[key]}")

Value: Trading Log
Value: -224
Value: 352
Value: 252
Value: 354
Value: -544
Value: -650
Value: 56
Value: 123
Value: -43
Value: 254
Value: 325
Value: -123
Value: 47
Value: 321
Value: 123
Value: 133
Value: -151
Value: 613
Value: 232
Value: -311

In [16]:
for key, value in trading_pnl.items():
    print(f"Key is: {key}, and the value is: {value}")

Key is: title, and the value is: Trading Log
Key is: 03-18-2019, and the value is: -224
Key is: 03-19-2019, and the value is: 352
Key is: 03-20-2019, and the value is: 252
Key is: 03-21-2019, and the value is: 354
Key is: 03-22-2019, and the value is: -544
Key is: 03-23-2019, and the value is: -650
Key is: 03-24-2019, and the value is: 56
Key is: 03-25-2019, and the value is: 123
Key is: 03-26-2019, and the value is: -43
Key is: 03-27-2019, and the value is: 254
Key is: 03-28-2019, and the value is: 325
Key is: 03-29-2019, and the value is: -123
Key is: 03-30-2019, and the value is: 47
Key is: 03-31-2019, and the value is: 321
Key is: 04-01-2019, and the value is: 123
Key is: 04-02-2019, and the value is: 133
Key is: 04-03-2019, and the value is: -151
Key is: 04-04-2019, and the value is: 613
Key is: 04-05-2019, and the value is: 232
Key is: 04-06-2019, and the value is: -311

In [26]:
trading_pnl["MyName"] = 77777777
print(trading_pnl)
print()

del trading_pnl["MyName"]
print(trading_pnl)

{'title': 'Trading Log', '03-18-2019': -224, '03-19-2019': 352, '03-20-2019': 252, '03-21-2019': 354, '03-22-2019': -544, '03-23-2019': -650, '03-24-2019': 56, '03-25-2019': 123, '03-26-2019': -43, '03-27-2019': 254, '03-28-2019': 325, '03-29-2019': -123, '03-30-2019': 47, '03-31-2019': 321, '04-01-2019': 123, '04-02-2019': 133, '04-03-2019': -151, '04-04-2019': 613, '04-05-2019': 232, '04-06-2019': -311, 'MyName': 77777777}

{'title': 'Trading Log', '03-18-2019': -224, '03-19-2019': 352, '03-20-2019': 252, '03-21-2019': 354, '03-22-2019': -544, '03-23-2019': -650, '03-24-2019': 56, '03-25-2019': 123, '03-26-2019': -43, '03-27-2019': 254, '03-28-2019': 325, '03-29-2019': -123, '03-30-2019': 47, '03-31-2019': 321, '04-01-2019': 123, '04-02-2019': 133, '04-03-2019': -151, '04-04-2019': 613, '04-05-2019': 232, '04-06-2019': -311}

In [25]:
# Activity 

Dictionary = {
    "National Bank of Canada": 327,
    "Toronto-Dominion Bank": 302,
    "Royal Bank of Canada": 173,
    "Wells Fargo": 273,
    "Goldman Sachs": 87,
    "Morgan Stanley": 72,
    "Canadian Imperial Bank of Commerce": 83,
    "TD Bank": 108,
    "Bank of Montreal": 67,
    "Capital One": 47,
    "FNB Corporation": 4,
    "Laurentian Bank of Canada": 3,
    "Ally Financial": 12,
    "Montreal Trust Company": 145,
    "Canadian Western Bank": .97    
}

print(Dictionary)
print()

Dictionary["Royal Bank of Canada"] = 999
print(Dictionary)
print()

Dictionary["Commonwealth Bank"] = 10000
print(Dictionary)
print()
     
del Dictionary["Ally Financial"]    
print(Dictionary)
print()

{'National Bank of Canada': 327, 'Toronto-Dominion Bank': 302, 'Royal Bank of Canada': 173, 'Wells Fargo': 273, 'Goldman Sachs': 87, 'Morgan Stanley': 72, 'Canadian Imperial Bank of Commerce': 83, 'TD Bank': 108, 'Bank of Montreal': 67, 'Capital One': 47, 'FNB Corporation': 4, 'Laurentian Bank of Canada': 3, 'Ally Financial': 12, 'Montreal Trust Company': 145, 'Canadian Western Bank': 0.97}

{'National Bank of Canada': 327, 'Toronto-Dominion Bank': 302, 'Royal Bank of Canada': 999, 'Wells Fargo': 273, 'Goldman Sachs': 87, 'Morgan Stanley': 72, 'Canadian Imperial Bank of Commerce': 83, 'TD Bank': 108, 'Bank of Montreal': 67, 'Capital One': 47, 'FNB Corporation': 4, 'Laurentian Bank of Canada': 3, 'Ally Financial': 12, 'Montreal Trust Company': 145, 'Canadian Western Bank': 0.97}

{'National Bank of Canada': 327, 'Toronto-Dominion Bank': 302, 'Royal Bank of Canada': 999, 'Wells Fargo': 273, 'Goldman Sachs': 87, 'Morgan Stanley': 72, 'Canadian Imperial Bank of Commerce': 83, 'TD Bank': 108, 'Bank of Montreal': 67, 'Capital One': 47, 'FNB Corporation': 4, 'Laurentian Bank of Canada': 3, 'Ally Financial': 12, 'Montreal Trust Company': 145, 'Canadian Western Bank': 0.97, 'Commonwealth Bank': 10000}

{'National Bank of Canada': 327, 'Toronto-Dominion Bank': 302, 'Royal Bank of Canada': 999, 'Wells Fargo': 273, 'Goldman Sachs': 87, 'Morgan Stanley': 72, 'Canadian Imperial Bank of Commerce': 83, 'TD Bank': 108, 'Bank of Montreal': 67, 'Capital One': 47, 'FNB Corporation': 4, 'Laurentian Bank of Canada': 3, 'Montreal Trust Company': 145, 'Canadian Western Bank': 0.97, 'Commonwealth Bank': 10000}

In [32]:
print(Dictionary.values())
len(Dictionary)

dict_values([327, 302, 999, 273, 87, 72, 83, 108, 67, 47, 4, 3, 145, 0.97, 10000])

15

In [34]:
total = 0
count = 0
average = 0
minimum = 0
maximum = 0

minimum_KeyValue = []
maximum_KeyValue = []
Mega_cap = []
Large_cap = []
Mid_cap = []
Small_cap = []

for bank in len(Dictionary):
    
    count += 1
    
    if Dictionary.values() > 300:
        Mega_cap.append(Dictionary.values)

TypeError: 'int' object is not iterable

In [46]:
market_caps = {
    "National Bank of Canada": 327,
    "Toronto-Dominion Bank": 302,
    "Royal Bank of Canada": 173,
    "Wells Fargo": 273,
    "Goldman Sachs": 87,
    "Morgan Stanley": 72,
    "Canadian Imperial Bank of Commerce": 83,
    "TD Bank": 108,
    "Bank of Montreal": 67,
    "Capital One": 47,
    "FNB Corporation": 4,
    "Laurentian Bank of Canada": 3,
    "Ally Financial": 12,
    "Montreal Trust Company": 145,
    "Canadian Western Bank": .97    
}

#print(market_caps)

market_caps["Royal Bank of Canada"] = 170

market_caps["Scotiabank"] = 33

market_caps.pop("Montreal Trust Company")

#print(market_caps)

for bank_key in market_caps:
    
    print(market_caps[bank_key])
    
print(market_caps)

327
302
170
273
87
72
83
108
67
47
4
3
12
0.97
33
{'National Bank of Canada': 327, 'Toronto-Dominion Bank': 302, 'Royal Bank of Canada': 170, 'Wells Fargo': 273, 'Goldman Sachs': 87, 'Morgan Stanley': 72, 'Canadian Imperial Bank of Commerce': 83, 'TD Bank': 108, 'Bank of Montreal': 67, 'Capital One': 47, 'FNB Corporation': 4, 'Laurentian Bank of Canada': 3, 'Ally Financial': 12, 'Canadian Western Bank': 0.97, 'Scotiabank': 33}