In [1]:
# Creates a variable with a string "Frankfurter"

title = 'Frankfurter'
years = 23
hourly_wage = 65.40
expert_status = True

In [2]:
#Print the variables 
print(title)
print(years)
print(hourly_wage)
print(expert_status)

Frankfurter
23
65.4
True

In [6]:
#Prints the data type of each declared variable
print('The data type of variable title is', type(title))
print('The data type of variable years is', type (years))
print('The data type of variable hourly wage is', type(hourly_wage))
print('The data type of vaiable expert status is', type(expert_status))

The data type of variable title is <class 'str'>
The data type of variable years is <class 'int'>
The data type of variable hourly wage is <class 'float'>
The data type of vaiable expert status is <class 'bool'>

In [8]:
#Using variable names in calculations
total_miles = 257
gallon_gas = 7.2
miles_per_gallon = total_miles / gallon_gas
print('Miles per gallon is', miles_per_gallon)

Miles per gallon is 35.69444444444444

In [9]:
#Updating variables using assignment
miles = 48
kilometers = 0.621371 * miles
print(kilometers)

29.825808000000002

In [14]:
#Substituting / formatting variables
message = f'The total kilometers driven was: {kilometers}'
print(message)

The total kilometers driven was: 29.825808000000002

In [15]:
#Variable naming conventions

#Bad example
mpg = 24

#Better example 
miles_per_gallon = 24