In [2]:
import pandas as pd
import pandas_datareader as web

In [44]:
# List stock data
stonks = ["CBA", "CSL", "BHP", "WBC", "NAB", "ANZ", "FMG", "WES", "MQG", "WOW", "RIO", "TLS", "TCL", "GMG", "APT", "ALL", "REA", "WPL"]

# Create list to append stock info. 
stonks_list = []

# Create for-loop for your stocks
for i in stonks:
    df = web.DataReader(f"{i}.AX", 
                        data_source="yahoo",
                        start="2018-01-01",
                        end="2021-06-18")
    close_df = df["Close"]
    
    stonks_list.append(close_df)



# Convert stonks info to dataframe
stonks_df = pd.DataFrame(stonks_list)
stonks_transp_df = stonks_df.T
stonks_transp_df.columns = stonks
stonks_transp_df.head(10)

,CBA,CSL,BHP,WBC,NAB,ANZ,FMG,WES,MQG,WOW,RIO,TLS,TCL,GMG,APT,ALL,REA,WPL
Date,,,,,,,,,,,,,,,,,,
2018-01-01,80.220001,140.550003,29.680000,31.250000,29.570000,28.580000,4.93,31.648092,99.050003,27.309999,76.500000,3.66,12.226322,8.44,6.26,23.570000,76.000000,32.754303
2018-01-02,80.139999,139.419998,30.180000,31.230000,29.480000,28.590000,5.08,31.619625,98.830002,27.139999,78.190002,3.66,12.265699,8.43,6.26,23.450001,75.699997,33.119446
2018-01-03,79.970001,141.550003,30.330000,31.100000,29.620001,28.520000,5.17,31.498640,99.800003,27.080000,77.849998,3.68,12.039285,8.47,6.35,22.959999,77.019997,34.007629
2018-01-04,81.160004,142.699997,30.580000,31.469999,29.850000,28.750000,5.35,31.712143,101.339996,27.260000,78.250000,3.73,12.167258,8.39,6.65,23.080000,77.099998,34.116184
2018-01-07,81.620003,143.300003,30.549999,31.520000,29.820000,28.830000,5.23,31.712143,101.980003,27.209999,78.040001,3.75,12.108194,8.39,6.60,23.059999,77.550003,33.928680
2018-01-08,82.190002,141.899994,31.059999,31.549999,29.620001,28.940001,5.31,31.640976,102.019997,27.270000,79.870003,3.75,12.108194,8.42,6.66,22.660000,77.110001,34.195137
2018-01-09,81.610001,142.000000,30.959999,31.600000,29.500000,28.799999,5.27,31.562691,101.930000,27.280001,79.260002,3.71,11.783340,8.19,6.46,22.770000,76.620003,34.017498
2018-01-10,81.300003,140.750000,30.840000,31.430000,29.530001,28.730000,5.25,31.420357,101.139999,27.400000,79.250000,3.71,11.714431,8.13,6.43,22.600000,74.459999,33.751041
2018-01-11,80.879997,141.830002,31.530001,31.299999,29.530001,28.520000,5.33,31.121454,101.470001,27.250000,80.620003,3.74,11.635679,8.13,6.50,22.590000,74.709999,34.027367
2018-01-14,81.169998,143.000000,31.900000,31.080000,29.469999,28.650000,5.31,31.206854,100.989998,27.250000,81.800003,3.71,11.517550,8.07,6.52,22.660000,74.660004,34.037235

In [45]:
stonks_transp_df.tail(10)

,CBA,CSL,BHP,WBC,NAB,ANZ,FMG,WES,MQG,WOW,RIO,TLS,TCL,GMG,APT,ALL,REA,WPL
Date,,,,,,,,,,,,,,,,,,
2021-06-04,102.519997,291.369995,48.750000,26.870001,27.510000,29.200001,22.969999,55.240002,154.000000,43.349998,124.620003,3.58,14.27,20.160000,94.480003,40.950001,163.460007,24.070000
2021-06-07,101.930000,292.570007,48.849998,26.629999,26.639999,28.820000,22.650000,54.759998,153.490005,43.540001,125.330002,3.57,14.36,20.530001,96.379997,40.549999,165.220001,24.010000
2021-06-08,101.480003,295.190002,48.380001,26.730000,26.770000,28.760000,22.420000,54.720001,153.419998,43.450001,124.160004,3.56,14.38,20.389999,97.199997,40.840000,166.699997,23.889999
2021-06-09,101.080002,294.109985,48.669998,26.549999,26.559999,28.730000,22.650000,54.330002,151.410004,42.630001,124.800003,3.57,14.42,20.250000,98.839996,40.799999,165.029999,23.760000
2021-06-10,101.849998,295.209991,48.299999,26.590000,26.620001,28.690001,22.830000,54.610001,152.509995,42.959999,124.919998,3.57,14.45,20.709999,99.849998,40.919998,167.699997,23.410000
2021-06-11,101.360001,296.640015,48.950001,26.290001,26.459999,28.250000,23.219999,55.000000,151.559998,42.910000,124.940002,3.58,14.32,20.620001,103.519997,40.700001,166.699997,23.620001
2021-06-15,103.449997,301.720001,49.220001,26.549999,26.670000,28.660000,23.330000,56.310001,153.880005,43.500000,126.480003,3.58,14.56,20.719999,105.699997,41.110001,168.369995,23.730000
2021-06-16,104.820000,302.899994,48.369999,26.549999,26.860001,28.920000,22.950001,57.130001,154.970001,43.700001,125.709999,3.58,14.63,20.860001,105.650002,41.070000,169.949997,24.270000
2021-06-17,105.910004,302.220001,47.689999,26.940001,27.010000,29.230000,22.610001,57.490002,154.020004,43.349998,124.230003,3.51,14.76,20.760000,107.470001,41.259998,165.279999,23.709999
2021-06-18,103.690002,305.519989,46.520000,26.879999,26.870001,28.980000,22.420000,57.720001,154.259995,42.669998,123.470001,3.57,14.93,20.900000,114.400002,42.900002,170.070007,23.200001