# Unit 5 - Financial Planning

In [2]:
# Initial imports
import os
import json
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [3]:
# Load .env enviroment variables
load_dotenv()

True

In [11]:
# Set Alpaca API key and secret
alpaca_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_API_SECRET_KEY")

# Create the Alpaca API object
api = tradeapi.REST(alpaca_key, alpaca_secret_key, api_version="V2")

In [26]:
1000/3

333.3333333333333

# 3 years = 252 * 3 = 756 days

In [24]:
# Format current date as ISO format
start_date = pd.Timestamp('2021-6-15', tz='America/New_York')
end_date = pd.Timestamp('2018-6-15', tz='America/New_York')


# Set the tickers
tickers = ["TSLA", "AAPL"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for SPY and AGG. Use a limit=1000 parameter to call the most recent 1000 days of data.
df_stock_data = api.get_barset(sym, timeframe=tf, start=start_date, end=end_date, limit=1000).df

# Preview DataFrame
df_stock_data.head()

                              AGG                                          \
                             open      high       low   close      volume
time
2017-06-22 00:00:00-04:00  110.06  110.0947  109.9500  110.05   1295361.0
2017-06-23 00:00:00-04:00  110.01  110.1085  109.9800  110.07   1101304.0
2017-06-26 00:00:00-04:00  110.19  110.2400  110.1300  110.16   1364100.0
2017-06-27 00:00:00-04:00  109.93  109.9800  109.7901  109.83   2883305.0
2017-06-28 00:00:00-04:00  109.85  109.8800  109.6800  109.85  12016805.0

                              SPY
                             open     high      low   close      volume
time
2017-06-22 00:00:00-04:00     NaN      NaN      NaN     NaN         NaN
2017-06-23 00:00:00-04:00  242.91  243.510  242.470  243.16  45792641.0
2017-06-26 00:00:00-04:00  243.89  244.380  243.045  243.27  43153677.0
2017-06-27 00:00:00-04:00  243.04  243.380  241.310  241.36  60858189.0
2017-06-28 00:00:00-04:00  242.50  243.715  242.230  243.46  50076355.0