In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

In [2]:
#!pip install yfinance

In [3]:
tickerSymbols = ["AAPL","PYPL", "SQ"]

In [4]:
AAPL=yf.Ticker(tickerSymbols[0])
PYPL=yf.Ticker(tickerSymbols[1])
SQ=yf.Ticker(tickerSymbols[2])

In [5]:
AAPL_df=AAPL.history(period="1D", start="2015-1-1", end="2020-1-1")
PYPL_df=PYPL.history(period="1D", start="2015-1-1", end="2020-1-1")
SQ_df=SQ.history(period="1D", start="2015-8-23", end="2020-1-1")

In [6]:
AAPL_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-12-31,25.573198,25.643466,24.981583,25.020117,165613600,0.0,0
2015-01-02,25.249055,25.260389,24.333298,24.782110,212818400,0.0,0
2015-01-05,24.546370,24.627972,23.893554,24.083958,257142000,0.0,0
2015-01-06,24.149695,24.351434,23.716750,24.086227,263188400,0.0,0
2015-01-07,24.299304,24.525977,24.185968,24.423975,160423600,0.0,0

In [7]:
data = yf.download("PYPL AAPL SQ", start="2020-08-23", end="2021-08-23")

[*********************100%***********************]  3 of 3 completed

In [8]:
data.head()

             Adj Close                               Close              \
                  AAPL        PYPL          SQ        AAPL        PYPL
Date
2020-08-24  125.053177  198.880005  151.789993  125.857498  198.880005
2020-08-25  124.027283  201.669998  155.000000  124.824997  201.669998
2020-08-26  125.713928  203.479996  153.740005  126.522499  203.479996
2020-08-27  124.211098  204.339996  155.610001  125.010002  204.339996
2020-08-28  124.009895  204.479996  155.929993  124.807503  204.479996

                              High                                 Low  \
                    SQ        AAPL        PYPL          SQ        AAPL
Date
2020-08-24  151.789993  128.785004  201.098999  159.000000  123.937500
2020-08-25  155.000000  125.180000  201.960007  155.740005  123.052498
2020-08-26  153.740005  126.992500  205.350006  158.690002  125.082497
2020-08-27  155.610001  127.485001  207.000000  161.539993  123.832497
2020-08-28  155.929993  126.442497  205.416000  159.149994  124.577499

                                          Open                          \
                  PYPL          SQ        AAPL        PYPL          SQ
Date
2020-08-24  196.570007  150.979996  128.697495  200.000000  159.000000
2020-08-25  196.240005  149.000000  124.697502  198.490005  151.800003
2020-08-26  200.250000  151.729996  126.180000  202.529999  156.089996
2020-08-27  202.300003  155.500000  127.142502  206.809998  156.869995
2020-08-28  202.419998  154.059998  126.012497  205.416000  159.149994

               Volume
                 AAPL     PYPL        SQ
Date
2020-08-24  345937600  5404100   8807700
2020-08-25  211495600  5108200   6429400
2020-08-26  163022400  6072200   7689900
2020-08-27  155552400  6051900  11617200
2020-08-28  187630000  4580300   6292000

In [9]:
data.to_csv('yfinacne_Raw.csv')

In [10]:
data.index = data.index.date
data.head()

             Adj Close                               Close              \
                  AAPL        PYPL          SQ        AAPL        PYPL
2020-08-24  125.053177  198.880005  151.789993  125.857498  198.880005
2020-08-25  124.027283  201.669998  155.000000  124.824997  201.669998
2020-08-26  125.713928  203.479996  153.740005  126.522499  203.479996
2020-08-27  124.211098  204.339996  155.610001  125.010002  204.339996
2020-08-28  124.009895  204.479996  155.929993  124.807503  204.479996

                              High                                 Low  \
                    SQ        AAPL        PYPL          SQ        AAPL
2020-08-24  151.789993  128.785004  201.098999  159.000000  123.937500
2020-08-25  155.000000  125.180000  201.960007  155.740005  123.052498
2020-08-26  153.740005  126.992500  205.350006  158.690002  125.082497
2020-08-27  155.610001  127.485001  207.000000  161.539993  123.832497
2020-08-28  155.929993  126.442497  205.416000  159.149994  124.577499

                                          Open                          \
                  PYPL          SQ        AAPL        PYPL          SQ
2020-08-24  196.570007  150.979996  128.697495  200.000000  159.000000
2020-08-25  196.240005  149.000000  124.697502  198.490005  151.800003
2020-08-26  200.250000  151.729996  126.180000  202.529999  156.089996
2020-08-27  202.300003  155.500000  127.142502  206.809998  156.869995
2020-08-28  202.419998  154.059998  126.012497  205.416000  159.149994

               Volume
                 AAPL     PYPL        SQ
2020-08-24  345937600  5404100   8807700
2020-08-25  211495600  5108200   6429400
2020-08-26  163022400  6072200   7689900
2020-08-27  155552400  6051900  11617200
2020-08-28  187630000  4580300   6292000

In [11]:
data.iloc[:]

             Adj Close                               Close              \
                  AAPL        PYPL          SQ        AAPL        PYPL
2020-08-24  125.053177  198.880005  151.789993  125.857498  198.880005
2020-08-25  124.027283  201.669998  155.000000  124.824997  201.669998
2020-08-26  125.713928  203.479996  153.740005  126.522499  203.479996
2020-08-27  124.211098  204.339996  155.610001  125.010002  204.339996
2020-08-28  124.009895  204.479996  155.929993  124.807503  204.479996
...                ...         ...         ...         ...         ...
2021-08-16  151.119995  278.279999  263.399994  151.119995  278.279999
2021-08-17  150.190002  271.100006  260.880005  150.190002  271.100006
2021-08-18  146.360001  268.839996  259.660004  146.360001  268.839996
2021-08-19  146.699997  270.579987  257.350006  146.699997  270.579987
2021-08-20  148.190002  272.959991  263.049988  148.190002  272.959991

                              High                                 Low  \
                    SQ        AAPL        PYPL          SQ        AAPL
2020-08-24  151.789993  128.785004  201.098999  159.000000  123.937500
2020-08-25  155.000000  125.180000  201.960007  155.740005  123.052498
2020-08-26  153.740005  126.992500  205.350006  158.690002  125.082497
2020-08-27  155.610001  127.485001  207.000000  161.539993  123.832497
2020-08-28  155.929993  126.442497  205.416000  159.149994  124.577499
...                ...         ...         ...         ...         ...
2021-08-16  263.399994  151.190002  279.190002  267.380005  146.470001
2021-08-17  260.880005  151.679993  275.545013  264.250000  149.089996
2021-08-18  259.660004  150.720001  272.769989  266.666992  146.149994
2021-08-19  257.350006  148.000000  272.010010  260.480011  144.500000
2021-08-20  263.049988  148.500000  273.934998  263.500000  146.779999

                                          Open                          \
                  PYPL          SQ        AAPL        PYPL          SQ
2020-08-24  196.570007  150.979996  128.697495  200.000000  159.000000
2020-08-25  196.240005  149.000000  124.697502  198.490005  151.800003
2020-08-26  200.250000  151.729996  126.180000  202.529999  156.089996
2020-08-27  202.300003  155.500000  127.142502  206.809998  156.869995
2020-08-28  202.419998  154.059998  126.012497  205.416000  159.149994
...                ...         ...         ...         ...         ...
2021-08-16  273.559998  257.600006  148.539993  273.730011  266.350006
2021-08-17  269.079987  257.910004  150.229996  275.250000  260.980011
2021-08-18  268.480011  259.079987  149.800003  271.010010  261.540009
2021-08-19  266.602997  254.139999  145.029999  267.190002  256.839996
2021-08-20  269.540009  257.084991  147.440002  269.540009  257.140015

               Volume
                 AAPL     PYPL        SQ
2020-08-24  345937600  5404100   8807700
2020-08-25  211495600  5108200   6429400
2020-08-26  163022400  6072200   7689900
2020-08-27  155552400  6051900  11617200
2020-08-28  187630000  4580300   6292000
...               ...      ...       ...
2021-08-16  103296000  5283700   6543000
2021-08-17   92229700  7966100   5707800
2021-08-18   86326000  4830900   4705100
2021-08-19   86960300  5119900   5121000
2021-08-20   59947400  4178900   4734500

[251 rows x 18 columns]

In [12]:
data_df=data.drop(columns=["Volume", "Open", "High", "Low","Adj Close"])

In [13]:
data_df.head()

                 Close
                  AAPL        PYPL          SQ
2020-08-24  125.857498  198.880005  151.789993
2020-08-25  124.824997  201.669998  155.000000
2020-08-26  126.522499  203.479996  153.740005
2020-08-27  125.010002  204.339996  155.610001
2020-08-28  124.807503  204.479996  155.929993

In [15]:
data_df.to_csv('yfinacne_Close.csv')