# Get stock market data & clean data

In [24]:
%matplotlib inline
import yfinance as yf
import quantstats as qs
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

# extend pandas functionality with metrics, etc.
qs.extend_pandas()

In [25]:
# Names of intersted stocks
stock_names = {'BHP.AX',
               'FMG.AX',
               'ABBV',
               'PFE',
               'BAC',
               'COKE',
               'SQ',
               'AAPL',
               'AMD',
               'FDX',
               'EBAY',
               'AMZN',
               'C',
               'F',
               'GDX',
               'USO'}

In [26]:
# Get a list of all closing prices
stock_list = {}

for stock in stock_names:
    
    stock_list[stock] = qs.utils.download_returns(stock)


    
# Limit all close prices to the last 10 years 
close_all = []

for name in stock_names:
    
    close_new = stock_list[name].loc["2016-01-01":]
    
    close_all.append(close_new)
    
    
# Convert close prices to dataframe
df = pd.DataFrame(close_all[:]).T
df.columns = stock_names

display(df)

,USO,ABBV,SQ,AMZN,GDX,FMG.AX,AAPL,BHP.AX,F,EBAY,COKE,PFE,C,FDX,BAC,AMD
Date,,,,,,,,,,,,,,,,
2016-01-04,-0.001818,-0.027515,-0.071047,-0.057554,0.026968,0.000000,0.000855,-0.003360,-0.008517,-0.038210,-0.040874,-0.010223,-0.011981,-0.037318,-0.023767,-0.034843
2016-01-05,-0.029144,-0.004166,-0.053454,-0.005024,-0.004968,0.013369,-0.025059,-0.012359,-0.017895,-0.011729,0.009654,0.007199,-0.005281,0.008506,0.000000,-0.007220
2016-01-06,-0.051595,0.000174,0.000869,-0.001799,0.016405,-0.060686,-0.019570,-0.024460,-0.044461,0.011103,0.018162,-0.017713,-0.014550,-0.026823,-0.021302,-0.087273
2016-01-07,-0.020772,-0.002963,-0.031250,-0.039058,0.044211,-0.056180,-0.042205,-0.047813,-0.031274,-0.027262,-0.014004,-0.006643,-0.051077,-0.043901,-0.036070,-0.091633
2016-01-08,-0.010101,-0.027268,0.013441,-0.001464,-0.024194,0.026786,0.005288,0.001225,-0.012598,0.002335,0.002649,-0.012739,-0.030068,0.000892,-0.019355,-0.061403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-20,-0.029931,0.007547,0.022149,0.003827,-0.003553,0.011426,0.010157,-0.007387,-0.007893,0.007277,0.010712,-0.001639,0.005871,-0.003775,0.004479,0.009161
2021-08-23,0.055722,0.004545,0.028094,0.020600,0.041167,-0.042731,0.010257,0.002706,0.012729,-0.002181,-0.002494,0.024836,0.009110,0.001313,0.013376,0.039369
2021-08-24,0.033152,0.002681,-0.000998,0.012220,-0.000311,0.013853,-0.000601,0.010346,0.027494,-0.004918,-0.006050,-0.031043,0.016222,0.003410,0.013933,-0.010297
2021-08-25,0.009289,0.006016,-0.009624,-0.001997,-0.013391,0.026316,-0.008421,0.012467,0.006881,0.018122,-0.003949,-0.017983,0.015825,0.009559,0.016152,0.006038
2021-08-26,-0.009621,-0.000332,-0.017117,0.005429,-0.006313,-0.013807,-0.003768,-0.011653,-0.024677,0.021440,-0.008384,-0.000316,-0.010454,-0.011133,-0.001891,-0.009963

In [27]:
#Check dataframe 
df.describe()

,USO,ABBV,SQ,AMZN,GDX,FMG.AX,AAPL,BHP.AX,F,EBAY,COKE,PFE,C,FDX,BAC,AMD
count,1423.000000,1423.000000,1423.000000,1423.000000,1423.000000,1431.000000,1423.000000,1431.000000,1423.000000,1423.000000,1423.000000,1423.000000,1423.000000,1423.000000,1423.000000,1423.000000
mean,-0.000077,0.000837,0.002700,0.001294,0.000912,0.002386,0.001446,0.001023,0.000364,0.000915,0.000827,0.000558,0.000598,0.000666,0.000948,0.003302
std,0.026408,0.017743,0.034073,0.018771,0.024764,0.028291,0.018706,0.018941,0.021907,0.018776,0.023088,0.013923,0.022992,0.020449,0.021400,0.039530
min,-0.253150,-0.162524,-0.285615,-0.079221,-0.228235,-0.106250,-0.128647,-0.144144,-0.110124,-0.124527,-0.211714,-0.077347,-0.192986,-0.151365,-0.153974,-0.242291
25%,-0.011161,-0.007123,-0.013344,-0.007155,-0.011255,-0.013836,-0.006242,-0.009196,-0.009581,-0.007425,-0.009988,-0.005497,-0.008618,-0.008172,-0.008112,-0.016110
50%,0.001125,0.001238,0.003323,0.001434,0.000000,0.001611,0.001008,0.000781,0.000000,0.001154,0.000884,0.000302,0.000464,0.000971,0.000838,0.001618
75%,0.012506,0.008497,0.019222,0.010424,0.013096,0.017034,0.010271,0.011733,0.009852,0.010239,0.011091,0.006626,0.010124,0.009918,0.010942,0.020745
max,0.166667,0.137673,0.157461,0.132164,0.183684,0.236948,0.119808,0.119444,0.234414,0.138245,0.178584,0.089607,0.179843,0.120385,0.177962,0.522901

In [28]:
#Drop duplicates
df.drop_duplicates(inplace=False)

df.head()

,USO,ABBV,SQ,AMZN,GDX,FMG.AX,AAPL,BHP.AX,F,EBAY,COKE,PFE,C,FDX,BAC,AMD
Date,,,,,,,,,,,,,,,,
2016-01-04,-0.001818,-0.027515,-0.071047,-0.057554,0.026968,0.000000,0.000855,-0.003360,-0.008517,-0.038210,-0.040874,-0.010223,-0.011981,-0.037318,-0.023767,-0.034843
2016-01-05,-0.029144,-0.004166,-0.053454,-0.005024,-0.004968,0.013369,-0.025059,-0.012359,-0.017895,-0.011729,0.009654,0.007199,-0.005281,0.008506,0.000000,-0.007220
2016-01-06,-0.051595,0.000174,0.000869,-0.001799,0.016405,-0.060686,-0.019570,-0.024460,-0.044461,0.011103,0.018162,-0.017713,-0.014550,-0.026823,-0.021302,-0.087273
2016-01-07,-0.020772,-0.002963,-0.031250,-0.039058,0.044211,-0.056180,-0.042205,-0.047813,-0.031274,-0.027262,-0.014004,-0.006643,-0.051077,-0.043901,-0.036070,-0.091633
2016-01-08,-0.010101,-0.027268,0.013441,-0.001464,-0.024194,0.026786,0.005288,0.001225,-0.012598,0.002335,0.002649,-0.012739,-0.030068,0.000892,-0.019355,-0.061403

In [29]:
# Count nulls
df.isnull().sum()

USO       35
ABBV      35
SQ        35
AMZN      35
GDX       35
FMG.AX    27
AAPL      35
BHP.AX    27
F         35
EBAY      35
COKE      35
PFE       35
C         35
FDX       35
BAC       35
AMD       35
dtype: int64

In [30]:
# Drop NA
df = df.dropna()

In [31]:
# final df
df.describe()

,USO,ABBV,SQ,AMZN,GDX,FMG.AX,AAPL,BHP.AX,F,EBAY,COKE,PFE,C,FDX,BAC,AMD
count,1396.000000,1396.000000,1396.000000,1396.000000,1396.000000,1396.000000,1396.000000,1396.000000,1396.000000,1396.000000,1396.000000,1396.000000,1396.000000,1396.000000,1396.000000,1396.000000
mean,-0.000100,0.000792,0.002663,0.001098,0.000904,0.002275,0.001390,0.000928,0.000386,0.000781,0.000797,0.000564,0.000545,0.000669,0.000922,0.003369
std,0.026471,0.017371,0.034181,0.018529,0.024837,0.028408,0.018679,0.018981,0.021961,0.018726,0.023127,0.013896,0.023105,0.020459,0.021460,0.039475
min,-0.253150,-0.162524,-0.285615,-0.079221,-0.228235,-0.106250,-0.128647,-0.144144,-0.110124,-0.124527,-0.211714,-0.077347,-0.192986,-0.151365,-0.153974,-0.242291
25%,-0.011200,-0.007175,-0.013337,-0.007282,-0.011327,-0.013930,-0.006201,-0.009374,-0.009574,-0.007442,-0.010031,-0.005455,-0.008652,-0.008243,-0.008135,-0.016100
50%,0.001163,0.001251,0.003427,0.001399,0.000352,0.001615,0.000976,0.000761,0.000000,0.001067,0.000820,0.000302,0.000477,0.001067,0.000828,0.001532
75%,0.012503,0.008626,0.019210,0.009999,0.013124,0.016979,0.010270,0.011610,0.009839,0.010199,0.010978,0.006719,0.010117,0.009957,0.011016,0.020626
max,0.166667,0.087174,0.157461,0.132164,0.183684,0.236948,0.119808,0.119444,0.234414,0.138245,0.178584,0.089607,0.179843,0.120385,0.177962,0.522901

In [32]:
# Count nulls
df.isnull().sum()

USO       0
ABBV      0
SQ        0
AMZN      0
GDX       0
FMG.AX    0
AAPL      0
BHP.AX    0
F         0
EBAY      0
COKE      0
PFE       0
C         0
FDX       0
BAC       0
AMD       0
dtype: int64

In [33]:
#Percentage change
pct=df.pct_change()
pct.head()

,USO,ABBV,SQ,AMZN,GDX,FMG.AX,AAPL,BHP.AX,F,EBAY,COKE,PFE,C,FDX,BAC,AMD
Date,,,,,,,,,,,,,,,,
2016-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-05,15.028762,-0.848587,-0.247622,-0.912714,-1.184222,inf,-30.302974,2.678723,1.101241,-0.693033,-1.236194,-1.704178,-0.559244,-1.227929,-1.000000,-0.792780
2016-01-06,0.770347,-1.041797,-1.016254,-0.641967,-4.302121,-5.539263,-0.219069,0.979073,1.484462,-1.946589,0.881258,-3.460538,1.755343,-4.153519,-inf,11.087285
2016-01-07,-0.597410,-18.014296,-36.967987,20.715398,1.694914,-0.074255,1.156635,0.954766,-0.296594,-3.455494,-1.771052,-0.624937,2.510520,0.636678,0.693227,0.049967
2016-01-08,-0.513711,8.203443,-1.430108,-0.962518,-1.547235,-1.476786,-1.125288,-1.025612,-0.597156,-1.085665,-1.189144,0.917516,-0.411332,-1.020311,-0.463405,-0.329902

In [34]:
#Drop duplicates
pct.drop_duplicates(inplace=False)

pct.head()

,USO,ABBV,SQ,AMZN,GDX,FMG.AX,AAPL,BHP.AX,F,EBAY,COKE,PFE,C,FDX,BAC,AMD
Date,,,,,,,,,,,,,,,,
2016-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-05,15.028762,-0.848587,-0.247622,-0.912714,-1.184222,inf,-30.302974,2.678723,1.101241,-0.693033,-1.236194,-1.704178,-0.559244,-1.227929,-1.000000,-0.792780
2016-01-06,0.770347,-1.041797,-1.016254,-0.641967,-4.302121,-5.539263,-0.219069,0.979073,1.484462,-1.946589,0.881258,-3.460538,1.755343,-4.153519,-inf,11.087285
2016-01-07,-0.597410,-18.014296,-36.967987,20.715398,1.694914,-0.074255,1.156635,0.954766,-0.296594,-3.455494,-1.771052,-0.624937,2.510520,0.636678,0.693227,0.049967
2016-01-08,-0.513711,8.203443,-1.430108,-0.962518,-1.547235,-1.476786,-1.125288,-1.025612,-0.597156,-1.085665,-1.189144,0.917516,-0.411332,-1.020311,-0.463405,-0.329902

In [35]:
# Count nulls
pct.isnull().sum()

USO       1
ABBV      1
SQ        1
AMZN      1
GDX       2
FMG.AX    2
AAPL      1
BHP.AX    1
F         3
EBAY      1
COKE      1
PFE       4
C         1
FDX       1
BAC       1
AMD       1
dtype: int64

In [36]:
# Drop NA
pct_final = pct.dropna()
pct_final

,USO,ABBV,SQ,AMZN,GDX,FMG.AX,AAPL,BHP.AX,F,EBAY,COKE,PFE,C,FDX,BAC,AMD
Date,,,,,,,,,,,,,,,,
2016-01-05,15.028762,-0.848587,-0.247622,-0.912714,-1.184222,inf,-30.302974,2.678723,1.101241,-0.693033,-1.236194,-1.704178,-0.559244,-1.227929,-1.000000,-0.792780
2016-01-06,0.770347,-1.041797,-1.016254,-0.641967,-4.302121,-5.539263,-0.219069,0.979073,1.484462,-1.946589,0.881258,-3.460538,1.755343,-4.153519,-inf,11.087285
2016-01-07,-0.597410,-18.014296,-36.967987,20.715398,1.694914,-0.074255,1.156635,0.954766,-0.296594,-3.455494,-1.771052,-0.624937,2.510520,0.636678,0.693227,0.049967
2016-01-08,-0.513711,8.203443,-1.430108,-0.962518,-1.547235,-1.476786,-1.125288,-1.025612,-0.597156,-1.085665,-1.189144,0.917516,-0.411332,-1.020311,-0.463405,-0.329902
2016-01-11,4.556156,0.166441,2.486457,-13.028651,0.707989,-2.839609,2.062261,-40.955377,-2.455829,4.820136,-12.311194,-1.177257,-1.519101,-15.485864,-1.373907,-2.522029
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-20,1.156912,0.383079,-3.489676,-1.909542,-0.788903,-1.185669,3.372259,-0.883702,-0.689076,inf,-3.941722,-0.841502,-1.326184,-0.801993,-1.304478,2.644780
2021-08-23,-2.861690,-0.397802,0.268404,4.382714,-12.586744,-4.739858,0.009876,-1.366342,-2.612721,-1.299713,-1.232800,-16.150199,0.551850,-1.347850,1.986624,3.297447
2021-08-24,-0.405052,-0.410090,-1.035536,-0.406792,-1.007561,-1.324198,-1.058617,2.823013,1.160010,1.254870,1.426063,-2.249949,0.780657,1.596556,0.041620,-1.261547
2021-08-25,-0.719813,1.243990,8.639668,-1.163378,42.020641,0.899609,13.006557,0.204930,-0.749738,-4.684803,-0.347304,-0.420725,-0.024522,1.803614,0.159290,-1.586399
2021-08-26,-2.035834,-1.055224,0.778658,-3.719049,-0.528569,-1.524656,-0.552575,-1.934771,-4.586426,0.183096,1.123069,-0.982444,-1.660599,-2.164653,-1.117065,-2.650037

In [37]:
# final df
pct_final.describe()

,USO,ABBV,SQ,AMZN,GDX,FMG.AX,AAPL,BHP.AX,F,EBAY,COKE,PFE,C,FDX,BAC,AMD
count,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000
mean,NaN,NaN,NaN,-inf,NaN,NaN,inf,NaN,NaN,NaN,inf,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,-inf,-inf,-inf,-inf,-inf,-inf,-184.197196,-inf,-inf,-inf,-400.232936,-inf,-inf,-inf,-inf,-inf
25%,-1.944846,-1.950683,-1.986572,-1.920690,-2.061115,-1.878949,-1.961892,-2.062526,-1.992829,-1.948883,-1.961822,-1.943768,-1.994815,-1.828236,-2.000017,-2.066147
50%,-0.967709,-1.000000,-1.055950,-0.958392,-1.099188,-1.000000,-1.052325,-1.054070,-1.000000,-1.014666,-1.034356,-1.000000,-1.023117,-0.974833,-1.016420,-1.065988
75%,0.090186,0.042729,0.068386,0.042084,-0.058400,0.004101,0.001924,0.014269,0.059865,0.008760,0.038746,-0.077559,0.072559,0.082686,0.055976,-0.009095
max,inf,inf,inf,1068.227704,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf

In [38]:
# Count nulls
pct_final.isnull().sum()

USO       0
ABBV      0
SQ        0
AMZN      0
GDX       0
FMG.AX    0
AAPL      0
BHP.AX    0
F         0
EBAY      0
COKE      0
PFE       0
C         0
FDX       0
BAC       0
AMD       0
dtype: int64