# Student Activity: Tokenizing Reuters

In [7]:
from nltk.corpus import reuters
from nltk.tokenize import sent_tokenize, word_tokenize
import pandas as pd

In [8]:
# Search through all categories
print(reuters.categories())

['acq', 'alum', 'barley', 'bop', 'carcass', 'castor-oil', 'cocoa', 'coconut', 'coconut-oil', 'coffee', 'copper', 'copra-cake', 'corn', 'cotton', 'cotton-oil', 'cpi', 'cpu', 'crude', 'dfl', 'dlr', 'dmk', 'earn', 'fuel', 'gas', 'gnp', 'gold', 'grain', 'groundnut', 'groundnut-oil', 'heat', 'hog', 'housing', 'income', 'instal-debt', 'interest', 'ipi', 'iron-steel', 'jet', 'jobs', 'l-cattle', 'lead', 'lei', 'lin-oil', 'livestock', 'lumber', 'meal-feed', 'money-fx', 'money-supply', 'naphtha', 'nat-gas', 'nickel', 'nkr', 'nzdlr', 'oat', 'oilseed', 'orange', 'palladium', 'palm-oil', 'palmkernel', 'pet-chem', 'platinum', 'potato', 'propane', 'rand', 'rape-oil', 'rapeseed', 'reserves', 'retail', 'rice', 'rubber', 'rye', 'ship', 'silver', 'sorghum', 'soy-meal', 'soy-oil', 'soybean', 'strategic-metal', 'sugar', 'sun-meal', 'sun-oil', 'sunseed', 'tea', 'tin', 'trade', 'veg-oil', 'wheat', 'wpi', 'yen', 'zinc']

In [9]:
# Get all fileids associated with cpi
cpi = reuters.fileids(categories='cpi')

len(cpi)

97

In [10]:
# get all raw stories
cpi_stories_list = []

for i in range(len(cpi)):
    
    cpi_raw = reuters.raw(cpi[i])
    
    cpi_stories_list.append(cpi_raw)
    
#cpi_stories_list[0]

In [11]:
cpi_sentence_list = []

for j in range(len(cpi_stories_list)):
    
    cpi_sentences = sent_tokenize(cpi_stories_list[j])
    
    cpi_sentence_list.append(cpi_sentences)
    
#cpi_sentence_list[0]

In [12]:
cpi_word_list = []

for k in range(len(cpi_sentence_list)):
    
    new_list = []
    
    for l in range(len(cpi_sentence_list[k])):
        
        word_tokenisation = word_tokenize(cpi_sentence_list[k][l])
        
        new_list.append(word_tokenisation)
        
    cpi_word_list.append(new_list)
             
len(cpi_word_list)

97

In [13]:
# Put everything into a DataFrame
final_df = pd.DataFrame({"File_IDs": cpi,
                         "Raw stories": cpi_stories_list,
                         "Sentence Tokenized": cpi_sentence_list,
                         "Word Tokenized": cpi_word_list})


final_df.head()

,File_IDs,Raw stories,Sentence Tokenized,Word Tokenized
0,test/14891,ECONOMIC SPOTLIGHT - KUWAITI ECONOMY\n Kuwait...,[ECONOMIC SPOTLIGHT - KUWAITI ECONOMY\n Kuwai...,"[[ECONOMIC, SPOTLIGHT, -, KUWAITI, ECONOMY, Ku..."
1,test/14918,INDONESIAN INFLATION RATE 8.8 PCT IN 1986/87\n...,[INDONESIAN INFLATION RATE 8.8 PCT IN 1986/87\...,"[[INDONESIAN, INFLATION, RATE, 8.8, PCT, IN, 1..."
2,test/16103,HUNGARY RAISES PRICES IN EFFORT TO CURB DEFICI...,[HUNGARY RAISES PRICES IN EFFORT TO CURB DEFIC...,"[[HUNGARY, RAISES, PRICES, IN, EFFORT, TO, CUR..."
3,test/16108,"AUSTRALIAN GOVERNMENT MUST CUT SPENDING, ANZ S...","[AUSTRALIAN GOVERNMENT MUST CUT SPENDING, ANZ ...","[[AUSTRALIAN, GOVERNMENT, MUST, CUT, SPENDING,..."
4,test/16118,"YUGOSLAV ECONOMY WORSENED IN 1986, BANK DATA S...","[YUGOSLAV ECONOMY WORSENED IN 1986, BANK DATA ...","[[YUGOSLAV, ECONOMY, WORSENED, IN, 1986, ,, BA..."

In [14]:
final_df.shape

(97, 4)

In [15]:
# Preview the DataFrame

# YOUR CODE HERE