# Loan Approver

In [1]:
from path import Path
import numpy as np
import pandas as pd

In [2]:
# Note: The following data has been normalized between 0 and 1
data_df = pd.read_csv(r'C:\Users\TribThapa\Desktop\Thapa\ResearchFellow\Courses\FinTech_Bootcamp_MonashUni2021\monu-mel-virt-fin-pt-05-2021-u-c\Activities\Week 11\1\05-Stu_Loan_Approver\Resources\loans.csv')
data_df.head()

     assets  liabilities    income  credit_score  mortgage   status
0  0.210859     0.452865  0.281367      0.628039  0.302682     deny
1  0.395018     0.661153  0.330622      0.638439  0.502831  approve
2  0.291186     0.593432  0.438436      0.434863  0.315574  approve
3  0.458640     0.576156  0.744167      0.291324  0.394891  approve
4  0.463470     0.292414  0.489887      0.811384  0.566605  approve

## Separate the Features (X) from the Target (y)

In [3]:
y = data_df["status"]
y

0        deny
1     approve
2     approve
3     approve
4     approve
       ...
95    approve
96       deny
97    approve
98    approve
99    approve
Name: status, Length: 100, dtype: object

In [4]:
X = data_df.drop(columns="status")
X.head()

     assets  liabilities    income  credit_score  mortgage
0  0.210859     0.452865  0.281367      0.628039  0.302682
1  0.395018     0.661153  0.330622      0.638439  0.502831
2  0.291186     0.593432  0.438436      0.434863  0.315574
3  0.458640     0.576156  0.744167      0.291324  0.394891
4  0.463470     0.292414  0.489887      0.811384  0.566605

## Split our data into training and testing

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=1,
                                                    stratify=y)

## Create a Logistic Regression Classifier

In [6]:
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression(solver='lbfgs',
                                random_state=1)

## Fit (train) or model using the training data

In [7]:
classifier.fit(X_train, y_train)

LogisticRegression(random_state=1)

## Score the model using the test data

In [8]:
# Scores
print(f"Training data score: {classifier.score(X_train, y_train)}")
print(f"Testing data score: {classifier.score(X_test, y_test)}")

Training data score: 0.5466666666666666
Testing data score: 0.52

## Make predictions

In [9]:
predictions = classifier.predict(X_test)

results = pd.DataFrame({"Pred": predictions,
                        "Actual": y_test})

results.head()

       Pred   Actual
76     deny     deny
1      deny  approve
8      deny     deny
42  approve     deny
16     deny     deny

# Confusion Matrix

In [10]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, 
                 predictions)

array([[ 3,  9],
       [ 3, 10]], dtype=int64)

# Classification Report

In [11]:
from sklearn.metrics import classification_report

target_names = ["Approve", "Deny"]

print(classification_report(y_test,
                            predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

     Approve       0.50      0.25      0.33        12
        Deny       0.53      0.77      0.62        13

    accuracy                           0.52        25
   macro avg       0.51      0.51      0.48        25
weighted avg       0.51      0.52      0.48        25