In [114]:
import csv
import pandas as pd

In [115]:
data = r'C:\Users\TribThapa\Desktop\Thapa\ResearchFellow\Courses\FinTech_Bootcamp_MonashUni2021\monu-mel-virt-fin-pt-05-2021-u-c\Activities\Week 3\1\22-Stu_Email\Resources\employees.csv'

data_df = pd.read_csv(data)
data_df.head(13)

   first_name  last_name          ssn
0        Tina    Fleming  619-16-7988
1       Erica       Shah  164-51-7615
2       Paula      Ortiz  051-83-3290
3       James  Hendricks  776-83-2884
4      Lauren       King  197-94-2398
5       David      Cowan  252-92-1832
6      Andrew     Burton  296-23-6842
7      Julian      Baker  337-40-7543
8       Scott     Castro  399-46-5595
9       Billy  Rodriguez  014-18-2503
10    Darrell    Leblanc  005-82-7918
11      David    Hammond  561-17-6312

In [121]:
new_dict_list = []
new_dict = {}

with open(data, 'r') as file:    
    file_DictReader = csv.DictReader(file, ('first_name', 'last_name', 'ssn'))

    for row in file_DictReader:
        email = f"{row['first_name']}.{row['last_name']}@example.com"
        new_dict['first_name'] = row['first_name']
        new_dict['last_name'] = row['last_name']
        new_dict['ssn'] = row['ssn']
        new_dict['email address'] = email
        new_dict_list.append(new_dict)
        
print(new_dict_list)

new_employee_data = []
new_employee_data.append(new_dict)
print(new_employee_data)

output = 'new_employee_data.csv'

with open(output, 'w', newline='') as f:
    fieldnames = ['first_name', 'last_name', 'ssn', 'email address']
    
    writer = csv.DictWriter(f, fieldnames, delimiter=',')
    writer.writeheader()
    for row in new_dict_list:
        writer.writerow(row)

[{'first_name': 'David', 'last_name': 'Hammond', 'ssn': '561-17-6312', 'email address': 'David.Hammond@example.com'}, {'first_name': 'David', 'last_name': 'Hammond', 'ssn': '561-17-6312', 'email address': 'David.Hammond@example.com'}, {'first_name': 'David', 'last_name': 'Hammond', 'ssn': '561-17-6312', 'email address': 'David.Hammond@example.com'}, {'first_name': 'David', 'last_name': 'Hammond', 'ssn': '561-17-6312', 'email address': 'David.Hammond@example.com'}, {'first_name': 'David', 'last_name': 'Hammond', 'ssn': '561-17-6312', 'email address': 'David.Hammond@example.com'}, {'first_name': 'David', 'last_name': 'Hammond', 'ssn': '561-17-6312', 'email address': 'David.Hammond@example.com'}, {'first_name': 'David', 'last_name': 'Hammond', 'ssn': '561-17-6312', 'email address': 'David.Hammond@example.com'}, {'first_name': 'David', 'last_name': 'Hammond', 'ssn': '561-17-6312', 'email address': 'David.Hammond@example.com'}, {'first_name': 'David', 'last_name': 'Hammond', 'ssn': '561-17-6312', 'email address': 'David.Hammond@example.com'}, {'first_name': 'David', 'last_name': 'Hammond', 'ssn': '561-17-6312', 'email address': 'David.Hammond@example.com'}, {'first_name': 'David', 'last_name': 'Hammond', 'ssn': '561-17-6312', 'email address': 'David.Hammond@example.com'}, {'first_name': 'David', 'last_name': 'Hammond', 'ssn': '561-17-6312', 'email address': 'David.Hammond@example.com'}, {'first_name': 'David', 'last_name': 'Hammond', 'ssn': '561-17-6312', 'email address': 'David.Hammond@example.com'}]
[{'first_name': 'David', 'last_name': 'Hammond', 'ssn': '561-17-6312', 'email address': 'David.Hammond@example.com'}]

In [118]:
# new_dict = {}
# count = 0
# with open(data, 'r') as file:
#     file_DictReader = csv.DictReader(file, ('first_name', 'last_name', 'ssn'))
#     for row in file_DictReadePython
#         count += 1
#         first_name = "first_name_" + str(count)
#         last_name = "last_name_" + str(count)
#         ssn = "ssn_" + str(count)
#         email_address = "email_address_" + str(count)
#         email = f"{row['first_name']}.{row['last_name']}@example.com"
#         new_dict.update({first_name: row["first_name"], last_name: row["last_name"], ssn: row["ssn"], email_address: email}) 
# print(new_dict)

SyntaxError: invalid syntax (<ipython-input-118-e4cb9f6d8f12>, line 5)